.product-carousel{
    display: flex;
    flex-direction: column;
    background-color:white;
    border:.1rem solid rgb(236, 236, 236);

    &__desc{
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('../img/headback.png');
        background-size:cover; 
        background-repeat: no-repeat;

        height: 95rem;
        font-size: 5rem;
        flex-direction: column;

        h1{
            font-weight: bold;
        }

        p{
            margin: 2rem;
            font-size: 2rem;
            color: $color-text-dark;
        }
    }

    &__info{
        width: 93%;
        display: flex;
        justify-content: space-evenly;
        align-items: center !important;
        margin: 0 auto;
        margin-top: 5rem;

        img{
            background-color: yellow;
        }

    }
}