form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.form-content{
    width:28%;
    height: 55rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 .1rem 2rem rgba(0, 0, 0, 0.479);
    padding: 3rem;
    display: flex;
    z-index: 6 !important;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    @include respond(phone){
        width: 90%;
    }

    .form-desc{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        h1{
            font-size: 2.5rem;
            font-weight: bold;
            letter-spacing: .2rem ;
            color: $color-green;


    @include respond(phone){
            font-size: 2rem;
    }
        }

        h2{
            font-size: 1.8rem;
            color: $color-text-dark;
            line-height: 1.2;
            text-transform: capitalize !important;
            margin: 1rem 0;

            @include respond(phone){
                font-size: 1.6rem;
        }
        }
    }
    
    .form-group{
        position: relative;
        display: flex;
        align-items: center;
        width: 70%;
        height: 5.5rem;
        background-color: rgb(243, 243, 243);

        @include respond(phone){
            width: 90%;
            height: 5rem;
    }

        .joinIcon{
            position: absolute;
            top: 26%;
            left: 2%;
            font-size: 2.5rem;
            color: $color-green;

            @include respond(phone){
                font-size: 2rem;

        }
        }
        .password-view{
            position: absolute;
            top: 30%;
            cursor: pointer;
            font-size: 2.5rem;
            color: $color-green;
            right: 2%;
        }
        input{
            border: none;
            background-color: transparent;
            text-align: center;
            font-size: 2.2rem;
            width: 100%;
            height: 100%;
            outline: none;
            @include respond(phone){
                font-size: 1.8rem;

        }


            &:focus{
                box-shadow: 0 .2rem 2rem rgba($color-green, .5)
            }
        }

        input[type=file]{
            display: none;
        }
        label{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 84%;
            cursor: pointer;
            font-size: 2.1rem;
            color: $color-green;

            @include respond(phone){
                font-size: 1.8rem;

        }
        }
        p{
            position: absolute;
            right: 1%;
            font-size: 1.8rem;
            color: orangered;
        }
    }


    button{
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold !important;
        height: 5.5rem;
        font-size: 2.7rem !important;
        color: white;
        text-align: center;
        background-color: $color-green;
        @include respond(phone){
            font-size: 1.8rem !important;
            width: 90%;
            height: 5rem;

    }

        &:hover{
            background-color: rgb(2, 134, 108);
            transform: scale(1.02);
        }
    }
}

.form-size{
    height: 63rem !important;
    z-index: 999999;
}


//add categories
.form-categories-add{
    position: absolute;
    bottom: 14% ;
    left: 3%;
    width: 34%;
    opacity: 0;
    height: 28rem;
    z-index: -9999;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 .1rem 2rem rgba(0, 0, 0, 0.253);
}
.categoryPanelShow{
    opacity: 1;
    z-index: 9999;
}

.form-categories-add-content{
    width: 100%;
    padding: 2rem;
    height: 100%;


    h1{
        font-size: 1.7rem;
        margin-bottom: 2rem;
    }

    &__group{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-transform:lowercase;
        position: relative;

        p{
            position: absolute;
            bottom: 0;
            right: 39%;
            font-size: 1.4rem;
            color: rgb(214, 61, 61);
        }


        input{
            width: 45%;
            height:3rem;
            border: none;
            background-color: rgb(243, 243, 243);

            &:focus{
                outline-color:$color-green ;
                border-color:$color-green ;
                text-transform: capitalize;
            }
        }


        label{
            width: 100%;
            font-size: 2rem;
            display: flex;
            margin: 1.4rem 0;
            align-items: center;
            
            p{
                position: static;
                font-size: 2rem;
                color: rgb(97, 97, 97) !important;
            }
            input{
                display: none;
            }
            svg{
                margin-right: 1rem;
                font-size: 3rem;
                color: rgb(177, 177, 177);
            
            }
        }
    }

    &__btn-group{
        margin-top: 2rem;
        display: flex;
        justify-content: space-evenly;
        
        button{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.4rem !important;
            text-align: center;
            padding: .7rem 1.6rem;
            width: 45%;
            background-color: transparent;
            color: red;
            &:hover{
                background-color: rgb(243, 243, 243);
            }

            &:last-child{
                color: white;
                background-color: $color-green;
                font-weight: bold;

                &:hover{
                    background-color: rgb(2, 134, 108);
                }
            }
        }
    }
}

.f-size{
    font-size: 2rem !important;
    text-transform: lowercase !important;
    font-weight: bold !important;
}


.iconColor{
    color: red !important;
}