.card {
  width: 29rem;
  margin: 1rem;
  height: 40rem;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.26);

  .content {
    padding: 20px 30px;
  }
}

.card.is-loading {
  .image,
  h2,
  p {
    background: #eee;
    background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
    border-radius: 5px;
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;
  }

  .image {
    height: 200px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  h2 {
    height: 5.5rem;
  }

  p {
    margin-top: 2rem;
    height: 2.2rem;
  }
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}