.navbar{
    display: flex;
    height: 8rem;
    padding: 1rem;
    align-items: center;
    flex-direction: row !important;
    position: relative;
    z-index: 4;
    background-color: #ffffffc4;
    border-bottom: .1rem solid rgba(0, 0, 0, 0.055);

    &__logo-content{
        width: 50%;
        display: flex;
        align-items: center;
        &:hover{
            background-color: transparent;
        }
        a{  
            margin-left: 2.8rem;
            width: 40% ;
            &:hover{
                background-color: transparent !important;
            }
            img{
                width: 40%;
                &:hover{
                    transform: scale(1.05);  
                }
            }
        }

        &__select{
            width: 30%;
          
            color: $color-green;
        }
    }

    &__land-join{
        width: 50%;
        height: 70%;
        justify-content: flex-end;
        display: flex;


        .dropdown-lang{
            position: absolute;
            top: -500%;
            opacity: 0  ;
            right: 11%;
            background-color: rgb(255, 255, 255);
            width: 10%;
            height: 25rem;
            
            display: flex;
            flex-direction: column;
            justify-content:space-evenly;
            align-items: center;
            font-size: 2rem;
            box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.178);
            span{
                display: flex;
                align-items: center;
                width: 90%;
                padding: 1rem;
                text-align: center;   
                cursor: pointer;
                &:hover{
                    background-color: gainsboro;
                }
                
                img{
                    width: 2rem;
                    height: 1.9rem;
                    border-radius: 50%;
                    margin-right: 1rem;
                }
            }
        }

        button{
            cursor: pointer;
            display: flex;
            align-items: center;
            outline: none !important;
            border: none !important;
            font-size: 1.8rem !important;
            

            img{
                width: 2rem !important;
                margin-right: .4rem;
                height: 1.3rem;
            }
        }

        .join{
            margin-left: 1.5rem;
            padding: 1rem 1.7rem;
            border:none ;
            font-size: 1.7rem !important;
            background-color:rgb(0,197,141);
            color: white;
            border-radius: 1rem;
        }
    }
    .add-products{
        background-color: rgb(0,197,141);
        color: white;
        padding:2.2rem 2rem;
        font-size: 1.6rem !important;

        &:hover{
            background-color: rgb(2, 189, 136);
        }
    }
}

.openshow{
    opacity: 1 !important;
    top: 100% !important;
}

.staticnav{
    position: static !important;
}


//join popup
.popup-join{
    position: fixed;
    top: -200%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    opacity: 0;
    z-index: 60;
    justify-content: center;
    align-items: center;
    background-color: rgba(black, .7);

    .close{
        position: absolute;
        background-color: white;
        border-radius: 50%;
        padding: 1rem;
        font-size: 2rem !important;
        top: 2%;
        right: 2%;

        &:hover{
            background-color: rgb(243, 243, 243);
        }
    }
}




.join-show{
    opacity: 1;
    top:0;
}

.join-show-none{
    opacity: 0;
    z-index: -99;
}




//Profile
.profile__content{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 2rem ;
    padding: .2rem;
    cursor: pointer;
    position: relative;

    .profile-show{
        top:8.4%;
    }
 

    img{
        width: 20%;
        border-radius: 50%;
        height: 3.7rem;

        &:hover{
            transform: scale(1.03);
        }
    }

    h2{
        width: 70%;
        font-size: 1.7rem;
    }
   
}



.profile__content__dropMenu{
    position: fixed;
    top:-48%;
    right:.5%;
    width: 19rem;
    background-color: white;
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 2rem;
    font-weight: bold;
    color: $color-dark;

    .dropLink{
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        text-align: center;
        padding:1.7rem 1rem;
        color: $color-dark !important;
        svg{
            margin-right: .4rem;
        }
        &:hover{
            background-color: whitesmoke;
        }
    }
}